@import 'https://fonts.googleapis.com/css?family=Nunito';

body {
    font-family: 'Nunito';
}

.bg-dark {
    background-color: #2e2e2e;
    color: #e3e3e3;
}

.search-input {
    border-radius: 50px !important;
    padding-left: 25px !important;
}

.search-button {
    margin-left: -50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button span {
    font-size: 25px;
    color: #2e2e2e;
}

.nav-button {
    background-color: #febe36;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: #e3e3e3;
    background-color: transparent;
    text-decoration: none;
}

.nav-button span {
    font-size: 35px;
    color: #2e2e2e;
}

.dropdown-menu {
    background-color: #2e2e2e !important;
    padding: 10px 10px 30px 10px !important;
    border-radius: 0 0 25px 0 !important;
}

.dropdown-menu.show {
    left: -13px !important;
    top: 50px !important;
}

.dropdown-menu li {
    background-color: #febe36;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.dropdown-menu li :hover {
    background-color: #e3e3e3;
    border-radius: 20px;
}

.dropdown-menu li img :hover {
    border-radius: 28px;
}

/*  */

.main-container {
    background-color: #E3E3E3;
    height: 370vh;
}

.pet-type {
    width: 25%;
    height: auto;
}

.pet-type img {
    margin-right: 20px;
    margin-top: 30px;
}

.line {
    width: 46%;
    height: 7px;
    border-radius: 25px;
    background-color: #2E2E2E;
    margin: 60px 0px 0 10px;
}

.types {
    width: 24%;
    margin-left: 20px;
}

.types img {
    margin-left: 15px;
    margin-top: 30px;
}

.category {
    width: 100%;
    min-height: 310px;
    background-color: #c4c4c4;
    margin-top: 90px;
}

.category-name {
    margin-top: -30px;
    margin-left: 80px;
    position: relative;
    z-index: 2;
}

.slideshow-container {
    width: 93%;
    min-height: 310px;
    margin: -30px auto 0px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides {
    width: 70%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    max-width: 220px;
    padding: 14px;
    font-weight: 500;
}

.product-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 160px;
    margin: 0 -12px;
}

.product-photo img {
    width: 192px;
    height: 160px;
    object-fit: contain;
    padding: 12px;
}

.type-name,
.price {
    margin: 0 !important;
    text-align: center;
}

.type-name {
    background-color: #2E2E2E;
    color: #E3E3E3;
    padding: 7px;
    border-radius: 10px;

    font-size: 15px;
}

.price {
    color: rgb(197, 2, 2);
    font-size: 20px;
    padding-top: 10px;
}

.nav-btn button {
    padding: 4px 0px;
    border-radius: 3px;
    border: none;
    background-color: #C4C4C4;
}

.nav-btn button:hover {
    background-color: #e0dede;
}


.footer {
    width: 100%;
    background-color: #2E2E2E;
    color: #E3E3E3;
    padding: 20px;
}

.cart img {
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 17px;
    right: 30px;
    cursor: pointer;
}